/* ---------------------------------------------------------------- General: */

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
  margin: 0;
  padding: 0;
  background-color: #12141D;
}

body {
  font-family: 'Inter', sans-serif;
  color: #fafafa;
}

html {
  scroll-behavior: smooth;
}

/* ---------------------------------------------------------------- Header: */
