@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  color: #fafafa;
}

body {
  margin: 0px;
  background-color: #12141D;
}

html {
    scroll-behavior: smooth;
}

/* ---------------------------------------------------------------- General styling: */

span {
  color: #A6A6A6;
}

/* ---------------------------------------------------------------- Header: */

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: fixed;
  z-index: 99;
  padding-top: 10px;
}

.nav {
  height: auto;
  width: 90%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0px;
  border-radius: 10px;
}

.home-link {
    max-width: 50px;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #fafafa;
  transition: 0.2s;
}

.nav > .nav-links > a:hover {
  color: darkorange;
}

.nav > #nav-check {
  display: none;
}

/* ---------------------------------------------------------------- Main: */

main {
  min-height: 100vh;
  background-color: #12141D;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* ---------------------------------------------------------------- Hero-Section: */

.hero-section {
    background: rgba(0, 0, 0, 0.7) url("../images/pexels-aleksandar-pasaric-2603464.jpg") no-repeat center center / cover;
    background-blend-mode: darken;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero-span {
    color: darkorange;
}

.links-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 252px;
}

.link {
  width: 50px;
  height: 50px;
  border-radius: 100px;
  border: 1px solid darkorange;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: 0.2s;
}

.link:hover {
  background-color: darkorange;
}


/* ---------------------------------------------------------------- Mediaquery: */

@media (max-width:844px) {
  .nav > .nav-btn {
    display: inline-block;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px 0px 13px 13px;
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 100%;
    height: 10px;
    border-top: 2px solid #efefef;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #fafafa;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 80px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
    text-align: center;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}

@media (min-width: 768px) {
  .topjob {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }

  .topjob img {
    width: 40%;
    order: -1;
  }
}